:root {
    --greenbg: rgb(110, 202, 91);
    --darkgreenbg: rgb(86, 158, 72);
}

/* Iphone */
@media (max-width: 600px) {
    div.navbar {
        display: none;
    }

    #social-icons {
        padding: 2px 20%;
    }

    /* INTRO */

    #intro div button {
        padding: 20px 20px;
    }

    /* PORTFOLIO */

    /* #portfolio .display .img {
        height: 90%;
    } */
}

/* Laptops */
@media (min-width: 600px) {
    /* MAIN */

    .hamburger-nav {
        display: none;
    }

    .main {
        display: flex;
        flex-direction: right;
    }

    .site-setup {
        padding-left: 10vw;
    }

    div.navbar {
        display: block;
    }

    /* INTRO */
    #intro h1 {
        font-size: 100px;
        margin-bottom: 0px;
    }

    #intro h2 {
        font-size: 30px;
    }

    #intro div {
        padding: 90px 90px 0px;
    }

    #intro button {
        font-size: 20px;
        padding: 15px 50px;
    }

    #intro button:hover {
        font-size: 20px;
        padding: 15px 50px;
        color: white;
        background-color: var(--greenbg);
        transition: 0.5s;
    }

    /* PORTFOLIO */

    #portfolio {
    }

    #portfolio h1 {
        padding: 200px 0px 0px;
        font-size: 70px;
        margin-bottom: 40px;
        padding-left: 5vw;
    }

    /* ABOUT */

    #about {
        /* background-color: white; */
        display: grid;
        padding: 10px 90px 0px;
        height: auto;
        grid-template-columns: 1fr 1fr;
    }

    #about .about-image img {
        display: block;
    }

    #about .about-context h1 {
        font-size: 70px;
    }

    #about .about-context p {
        line-height: 2;
    }

    /* CONTACT */

    #contact {
    }

    #contact button {
    }

    #contact h1 {
        font-size: 70px;
    }
}
