:root {
    --greenbg: rgb(110, 202, 91);
    --darkgreenbg: rgb(86, 158, 72);
}

/* INTRO */
#intro {
    padding-left: 5vw;
}

#intro div {
    padding: 30vh 0px 0px;
}

#intro h1 {
    font-size: 40px;
    margin-bottom: 0px;
}

#intro h2 {
    font-size: 20px;
}

#intro button {
    font-size: 15px;
    text-align: center;
    padding: 10px 20px;
    color: var(--greenbg);
    background-color: white;
    border: 1px solid var(--greenbg);
}

#intro button:hover {
    color: white;
    background-color: var(--greenbg);
    border: 1px solid var(--greenbg);
}

/* PORTFOLIO */
#portfolio {
}

#portfolio h1 {
    padding: 200px 0px 0px;
    padding-left: 5vw;
    font-size: 40px;
    margin-bottom: 40px;
}

#portfolio p {
    padding: 0px 0px 0px;
    padding-left: 5vw;
}

#portfolio .display {
    background-color: rgb(110, 202, 91);
    padding: 100px 100px;
    height: 225px;
}

#portfolio .display div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    height: 100%;
    padding: 0px 0px;
}

#portfolio .img {
    background-color: black;
}

/* ABOUT */
#about {
    padding: 10px 90px 0px;
    padding-left: 5vw;
    height: auto;
}

#about .about-context {
    height: initial;
}

#about .about-context h1 {
    font-size: 40px;
}

#about .about-context p {
    line-height: 1;
}

#about .about-image {
    /* background-color: var(--greenbg); */
    display: flex;
    width: 100%;
    align-items: center;
}

#about .about-image img {
    display: none;
    width: 100%;
}

/* CONTACT */
#contact {
    padding: 50px 5vw 5vh;
    background-color: var(--greenbg);
}

#contact h1 {
    color: white;
    font-size: 40px;
}

#contact .contact-form {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
}

#contact form {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 1fr 1fr; */
}

#contact form input {
    margin: 0px 0px;
    border: 0px;
    background-color: white;
    border-bottom: 2px solid var(--greenbg);
}

#contact form div {
    padding-top: 20px;
}

#contact form .form-bottom {
    grid-column-start: 1;
    grid-column-end: 4;
}

#contact form input {
    width: 100%;
    height: 40px;
}

#contact button {
    width: 100%;
    height: 7vh;
    color: var(--greenbg);
    border: none;
    background-color: white;
    transition: 1s;
}

#contact button:hover {
    color: white;
    background-color: var(--greenbg);
    border: 10px solid white;
    transition: 1s;
}

#contact #message {
    margin-top: 20px;
    padding-bottom: 50px;
    height: 100px;
    text-align: left;
    /* align-item */
}
