:root {
    --greenbg: rgb(110, 202, 91);
}

/* INTRO */
#intro {
    
}

#intro div {
    padding: 30vh 0px 0px;
}

#intro h1 {
    font-size: 40px;
    margin-bottom: 0px;
}

#intro h2 {
    font-size: 20px;
}

#intro button {
    font-size: 15px;
    text-align: center;
    padding: 10px 20px;
    color: var(--greenbg);
    background: none;
    border: 1px solid var(--greenbg);
}

/* PORTFOLIO */
#portfolio {
    
}

#portfolio h1 {
    padding: 200px 0px 0px;
    font-size: 40px;
    margin-bottom: 40px
}

#portfolio p {
    padding: 0px 0px 0px;
}

#portfolio .display {
    background-color: rgb(110, 202, 91);
    padding: 100px 100px;
    height: 225px;
}

#portfolio .display div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    height: 100%;
    padding: 0px 0px;
}

#portfolio .img {
    background-color: black;
}

/* ABOUT */
#about {
    display: grid;
    padding: 10px 90px 0px;
    height: auto;
    grid-template-columns: 1fr 1fr;
}

#about .about-context {
    height: initial;
}

#about .about-context h1 {
    font-size: 70px;
}

#about .about-image {
    /* background-color: var(--greenbg); */
    width: 100%;
    /* background-image: url("/images/logo.png");
    background-size: cover; */
}

#about .about-image img {
    width: 100%;
    margin-top: 50%;
    /* object-fit: contain; */
}

/* CONTACT */
#contact {
    padding: 100px 90px 0px;
}

#contact .contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#contact form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#contact form input {
    margin: 0px 20px 0px 0px;
}

#contact form div {
    padding-top: 20px;
}

#contact form .form-bottom {
    grid-column-start: 1;
    grid-column-end: 4;
}

#contact form input {
    width: 100%;
    height: 40px;
}

#contact #subject {

}

#contact #message {
    margin-top: 20px;
    padding-bottom: 50px;
    height: 100px;
    text-align: left;
    /* align-item */
}

#contact .map {

}