:root {
    --greenbg: rgb(110, 202, 91);
}

/* INTRO */
#intro {
    
}
#intro div {
    padding: 90px 90px 0px;
}

#intro h1 {
    font-size: 100px;
    margin-bottom: 0px;
}

#intro h2 {
    font-size: 30px;
}

#intro button {
    font-size: 20px;
    text-align: center;
    padding: 15px 50px;
}

/* PORTFOLIO */
#portfolio {
    
}

#portfolio h1 {
    padding: 200px 90px 0px;
    font-size: 70px;
    margin-bottom: 40px
}

#portfolio p {
    padding: 0px 90px 0px;
}

#portfolio .display {
    background-color: rgb(110, 202, 91);
    padding: 100px 100px;
    height: 225px;
}

#portfolio .display div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    height: 100%;
    padding: 0px 0px;
}

#portfolio .img {
    background-color: black;
}

/* ABOUT */
#about {
    display: grid;
    padding: 10px 90px 0px;
    height: 20px;
    grid-template-columns: 1fr 1fr;
}

#about .about-context {
    height: initial;
}

#about .about-context h1 {
    font-size: 70px;
}

#about .about-image {
    background-color: var(--greenbg);
    background-image: url("/images/logo.png");
    background-size: cover;
}

/* CONTACT */
#contact {

}