:root {
    --greenbg: rgb(110, 202, 91);
    --darkbg: rgb(0, 2, 17);
    --lightdarkbg: rgb(0, 6, 51);
}

body {
    margin: 0px 0px;
    background-color: var(--darkbg);
    /* background-attachment: fixed; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: white;
}

h1,
h {
    font-family: "Roboto", sans-serif;
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    /* background-color: #000; */
    /* background-image: url(""); */
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: -1;
}

.body-particles {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.main {
    /* display: flex; */
    /* flex-direction: right; */
}
.site-setup {
    display: grid;

    /* background-color: blue; */

    height: auto;
    width: 100%;
}

.navbar {
    height: 100vh;
    width: 10vw;
    background-color: var(--darkbg);
    border: 2px solid var(--greenbg);
    position: fixed;
}

.navbar-logo {
    background-color: var(--darkbg);
    position: sticky;

    width: 100%;
    height: initial;
    text-align: center;
    position: relative;
    /* background-image: url("https://png.pngtree.com/element_our/20190601/ourlarge/pngtree-green-code-icon-image_1344718.jpg"); */
    /* object-fit: cover; */
}

.navbar-logo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.navbar-logo h3 {
    margin: 5px;
}
.navbar-logo h5 {
    margin: 5px;
    padding-bottom: 10px;
}

.navbar-nav-items {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.navbar-nav-items a {
    color: white;
    padding: 12px;
    border-top: 1px solid var(--greenbg);
    /* border-bottom: 1px solid white; */
}

.navbar-nav-items a:nth-child(5) {
    border-bottom: 1px solid white;
}

.navbar-nav-items a:hover {
    color: var(--greenbg);
    background-color: white;
    transition-duration: 0.5s;
}

.hamburger-nav {
    height: 10vw;
    width: 100%;
    background-color: var(--greenbg);
}

.hamburger-nav .nav-icon {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: right;
}
.hamburger-nav .nav-icon img {
    margin-right: 10px;
}

.hamburger-nav .items {
    display: none;
    flex-direction: column;
    align-items: center;
    height: auto;
}

#hamburger-nav-items a {
    color: white;
    padding: 10px;
}

#hamburger-nav-items a:hover {
    color: white;
    background-color: var(--greenbg);
}

.hamburger-nav .block {
    display: none;
}

.letter-highlight {
    transition: 0.5s;
}

.letter-highlight:hover {
    color: var(--greenbg);
    transition: 0.5s;
}

section {
    height: auto;
}

section.intro {
    /* padding-top: 20px; */
}
