.Contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h3 {
        margin-top: 5%;
        color: white;
    }

    button {
        background-color: rgb(255, 0, 0);

        &:hover {
            background-color: rgb(199, 0, 0);
        }
    }
}
