nav {
    margin: 20px 0px;
    // padding: 0px 50px;
    width: 100%;

    display: flex;
    justify-content: space-evenly;

    color: white;

    .icon {
        height: 100%;
        width: auto;
    }

    .Links {
        display: flex;
        align-items: center;
    }

    .Socials {
        display: flex;
        flex-direction: row;

        button {
            padding: auto;
            color: white;
        }
    }

    a {
        color: white;
        text-decoration: none;
        margin: 0px 15px;
    }
}